.charBox {
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: center;
  align-items: center;
  border: solid 3px #cbd2a4;
  background-color: rgba(233, 238, 217, 0.85);
}

img {
  max-width: 200px;
  padding: 15px;
}

h2 {
  padding: 15px;
}

.socialBox {
  display: flex;
  flex-direction: row;
}
